{% extends "home_base.html" %}

{% block content %}
<script type="text/javascript" src="static/js/script.js"></script>
<h1> My Life in Review </h1>

<p>Born in New Orleans,  my family moved to Ohio  when
 I was very young. I had quite a wrestling career as a youngster if I do say so myself. I attended the University of Pennsylvania and graduated with a BA in something-or-other in 2001. For a time, I wandered the earth like Caine in kung fu. Spent some time abroad, Germany mostly. I'm in love with Rothenburg ob der Tauber, a small Bavarian city that never quite made it out of the middle ages. I lived there for a few months and hope to return there one day if only to visit.</p>
<p>Today, I live in Philadelphia. I have a beautiful wife and daughter. I'm obsessed with computer software and web dev in particular. No really, it's time consuming, ask my wife. I plan on leaving my day job soon and working full time as a developer.</p>

{% endblock %}

