    <h2> About </h2>
    <p>
        I am a web developer from Philadelphia. I am a completely self-taught computer programmer but have greatly benefited from many resources. Here 	       are a few of my friends on the interwebs. 
        <a href="http://www.udacity.com"><img src="/static/img/udacity.png" alt="Udacity" align="top" /></a>
        <a href="http://www.khanacademy.org"><img src="/static/img/ka.png" alt="Khan Academy" align="top" /></a>
        <a href="http://www.nand2tetris.org"><sub>TECS</sub><a>
      
    </p>
    <a href="/blog">
        <div class="big-button">
            Blog
        </div>
    </a>

    
                

  </div>
</body>

</html>
